<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong><%= @profile.name %><span> (Age: <%= @profile.age %>)</span>
</p>
<p>
  Lives in <i><%= @profile.location %><i>
</p>
<p>
  Works as a <i><%= @profile.occupation %><i>
</p>
<p>
  Bio: <%= @profile.bio %>
</p>

<br/>

<strong>Memes: </strong>
<div class='image-list'>
<% @memes.each do |meme| %>
  <div>
    <p  class='meme-label'><%= meme.title %></p>
  <%=link_to meme do %>
    <%= image_tag meme.image, :class=>'meme-thumbnail'%>
  <% end %>
  </div>
<% end %>
</div>

<br/>

<%= form_tag :action => 'addFriend' do %>
<%= text_area :addFriendForm, :name %>
<%= submit_tag "Add Friend" %>
<% end %>

<!-- TODO: add attributes 

  t.references :follower, foreign_key: { to_table: :profiles }
  t.references :rival, foreign_key: { to_table: :profiles }

-->

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
