<div id="chatroom"> 
  <div id="messages">
    <% @messages.each do |message| %>
        <%if message.user_id == current_user.id%>
          <p class="sent"><%= message.username %>:<%= message.content %></p>
        <%else%>
          <p class="received"><%= message.username %>:<%= message.content %></p>
        <%end%>
    <% end %>
  </div> 
</div>
<%= form_tag({:action => 'writeMessage'}, id: "send_message" ) do %>
  <%= text_field_tag :message %>
  <%= button_tag "Send" %>
<% end %>
