<%= form_with(model: meme) do |form| %>
  <% if meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
        <% meme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title, "Title" %>
  <%= form.text_field :title %>

  <%= form.label :image, "File" %>
  <%= form.file_field :image %>

  <%= form.label :tag_field, "Tags" %>
  <%= form.text_field :tag_field, value: meme.tags.map {|t| t.name}.join(",") %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
