<p id="notice"><%= notice %></p>

<h1><%= @meme.title %></h1>

<div>
    <span>Created by <%= @meme.user.username %></span>
    <% if logged_in? and @meme.user_id == current_user.id %>
        <%= link_to 'Edit', edit_meme_path(@meme) %> |
        <%= link_to 'Destroy', @meme, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
    <%= link_to 'Back', memes_path %>
</div>
<div>
    <%= image_tag @meme.image %>
</div>
