<h1>Matches</h1>

<% if @match_profiles.count > 0 %>
    <% @match_profiles.each do |profile| %>
        <div>
            <p>Name: <%= profile.name %> </p>
            <p>Age: <%= profile.age %> </p>
            <p>Location: <%= profile.location %> </p>
            <p>Occupation: <%= profile.occupation %> </p>
            <p>Bio: <%= profile.bio %> </p>
        </div>
        <br/>
        <br/>
    <% end %>
<% else %>
    <p>Looks like nobody's available to match 😢 </p>
    <iframe width="934" height="525" src="https://www.youtube.com/embed/qYS0EeaAUMw?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% end %>