<h1>Matches</h1>

<% for @match_profiles do |profile|%>
    <div>
        <p>Name: <%= profile.name %> </p>
        <p>Age: <%= profile.age %> </p>
        <p>Location: <%= profile.location %> </p>
        <p>Occupation: <%= profile.occupation %> </p>
        <p>Bio: <%= profile.bio %> </p>
        <%= f.submit 'Like' %>

    </div>
<% end %>